<div style="padding-bottom: 1em;">
  <h6>Text Message</h6>
</div>
<ul data-accordion class="bx--accordion" style="padding-bottom:2em;">
    {{#each enrollments.smsotp}}
    <li data-accordion-item class="bx--accordion__item">
      <button class="bx--accordion__heading" aria-expanded="false" aria-controls="pane1">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--accordion__arrow" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path></svg>
        <div class="bx--accordion__title">{{attributes.phoneNumber}}</div>
      </button>
      <div id="pane1" class="bx--accordion__content">
        {{#if validated}}
        <button class="bx--tag bx--tag--cyan">
            <span class="bx--tag__label">Validated</span>
        </button>
        {{/if}}
        {{#if enabled}}
        <button class="bx--tag bx--tag--green">
            <span class="bx--tag__label">Enabled</span>
        </button>
        {{/if}}
        <a href="#" tabindex="0" class="bx--link bx--link--inline" onclick="(() => { deleteSMS('{{id}}'); })()">Delete</a>
      </div>
    </li>
    {{/each}}
</ul>
<div style="padding-bottom: 1em;">
  <h6>Email</h6>
</div>
<ul data-accordion class="bx--accordion" style="padding-bottom:2em;">
    {{#each enrollments.emailotp}}
    <li data-accordion-item class="bx--accordion__item">
      <button class="bx--accordion__heading" aria-expanded="false" aria-controls="pane1">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--accordion__arrow" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path></svg>
        <div class="bx--accordion__title">{{attributes.emailAddress}}</div>
      </button>
      <div id="pane1" class="bx--accordion__content">
        {{#if validated}}
        <button class="bx--tag bx--tag--cyan">
            <span class="bx--tag__label">Validated</span>
        </button>
        {{/if}}
        {{#if enabled}}
        <button class="bx--tag bx--tag--green">
            <span class="bx--tag__label">Enabled</span>
        </button>
        {{/if}}
      </div>
    </li>
    {{/each}}
</ul>
<div>
  {{> addFactor }}
</div>

<script type="text/javascript">
  deleteSMS = (factorId) => {
    fetch('/factors/smsotp/' + factorId, {
        method: 'DELETE'
    })
    .then((response) => location.reload())
    .catch((error) => {
        console.error('Error:', error);
    });
  }
</script>